<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>SANDESH 2.0</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
	
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--<script src="../static/js/findByTheme.js"></script> -->

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 

<script src="../static/js/findByTheme.js"></script>
<!-- this styling code is for changing size of place holder attribute -->

<style >
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
   color: red;
   font-size: 12pt; 
}
::-moz-placeholder { /* Firefox 19+ */
   color: red;
   font-size: 12pt; 
}
:-ms-input-placeholder { /* IE 10+ */
   color: red;
   font-size: 12pt; 
}
:-moz-placeholder { /* Firefox 18- */
   color: red;
   font-size: 12pt;
}

<!-- this is for styling the horizontal below the SANDESH 2.0 Heading -->

hr.style1 {
    border-top: 1px dashed #8c8b8b;
}


.data_tables {

    max-height: 400px;
    overflow: scroll;


}



.webform label {
    width:200px;
   vertical-align:top;
    text-align:right;
    float: left
}

</style> 

<body>
 
    <div class="container" >
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <!--li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li-->
                </ul>
            </nav>
            <h3 class="text-muted" align= "center" style="height: 75px"><font size="10">WELCOME TO SANDESH 2.0</font></h3>
        </div>
 
        <hr class= "style1">

        <div class="jumbotron">
            <!--<h1 align="center">WELCOME TO SANDESH</h1>-->
            <p class="lead"></p>
            <!--p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p-->
            <form >
                
                <label for="inputTheme" align="left" style = "position: relative" ><font size="3">Search by Theme</font></label>
            
                <input type="text" style="width: 400px; height: 40px; position: relative;"  name="inputTheme" id="inputTheme"  class="form-control" width:10px placeholder="Enter theme" required autofocus/>

                <button id="btnFindByTheme"   style="width: 200px; height: 40px; position: relative; margin-top: 5px" class="btn btn-lg btn-primary btn-block" value = "" type="button" width:20%>Search</button> 
            </form>
           </div>


        <div class="panel panel-primary " >
            <div class="panel-heading"><font size="5">Datasets</font></div>
            <div class="panel-body data_tables"  ><!--Data related to associatiosn should be displayed --> 
            <table class="table table-striped table-bordered">
                  <thead class="thead-inverse" >
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody  id = "table_names" value = "none"	>
                        
                    </tbody>


            </table>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading" id ="table_data"><font size="5">Table Data</font></div>
				
	<svg width="1100" height="70" id="mySVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    </svg>
           <div class="header_names" id="header_names">Click any from above table names


		</div>
               
           
        </div>

 
    </div>
</body>
 
</html>
